body {
  position: relative;
  color: white;
  height: 100vh;
  margin: 0;
  background-color: #232c39;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  );
  overflow-y: hidden;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
small {
  font-size: 0.6rem;
}
li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.Bread__btn {
  border: 0;
  background: transparent;
  color: var(--text-color);
  padding: 0.7rem 0;
  font-size: 1rem;
}

.Bread__btn:active {
  outline: 0;
}

.Bread__btn:hover ~ .Bread__btn {
  opacity: 0.5;
}

.Segment__path {
  stroke-width: 0.5;
  stroke: rgb(25, 77, 46);
  fill: rgb(143, 153, 102);
}
.Segment__path:hover {
  fill: rgb(153, 113, 102);
}

.u-noPointerEv {
  pointer-events: none;
}
.u-inline {
  display: inline;
}

.TopBar {
  position: absolute;
  padding: 0.5rem;
  width: 100%;
}
.BottomBar {
  position: absolute;
  margin: 0.5rem;
  bottom: 20px;
}
.BottomBar,
.TopBar {
  text-shadow: #1e608d 0px 0px 10px;
}

.inputScreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputScreen [type="submit"] {
  display: block;
  width: 100%;
  -webkit-appearance: unset;
  height: 2rem;
}
.inputScreen form {
  margin: 1rem;
}
.inputScreen .loading {
  font-size: 3rem;
  font-weight: 200;
}
.inputScreen code pre {
  background: #350f05;
  padding: 4px 1em;
}
